.processed-row {
	background: white url('http://dashasalo.com/static/uploads/images/2013/06/20/error.png') no-repeat 10% center; 
	padding: 1px 0;
}

#rates .x-grid3-row td, .x-grid3-summary-row td { 
	vertical-align: middle !important;
}